body{

    background-color: #cbd4c2

    color:cornflowerblue;

    font-family: sans-serif;

}



h1{

    font-family: 24px;

    text-align: center;



}

.botao1,

.botao2{

    text-decoration:none;

    font-weight: bold;

    font-size: 16px;

    text-transform: uppercase;

    border:1px solid black;

    display: inline-block;

    padding: 10px;

    margin-bottom: 20px;

    width: 200px;

    text-align: center;

   

}

.botao1{

    background-color: lightblue;

    border-color: black;

    color: brown;

}



.botao2{

    background-color: lightseagreen;

}